@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #e2e2e2;
}

header div {
  display: inline-block;
}

a:hover {
  background-color: #0074d9;
  color: #fff;
  padding: .5em;
  text-decoration: none;
}

li {
  padding: .5em;
  text-decoration: none;
  color: #0074d9;
  display: inline-block;
  text-align: left;
}

h1 {
  text-align: center;
}
